footer {
    background-color: $woodsmoke;
    padding: 10rem 0;

    .footer_container {
        @include center-section;
        display: flex;

        .footer_left {
            width: 60%;

            .footer_left_top {
                margin-bottom: 3rem;
                h2 {
                    @include green-title;
                }
                h1 {
                    @include white-title;
                    @include section-title;
                    margin: 2rem 0;
                    span {
                        @include section-title-dark;
                    }
                }
                p {
                    @include footer-paragraph;
                }
            }
            .footer_left_bottom {
                .form-row {
                     margin: 1rem 0;
                    .col {
                        margin: 0;
                        padding: 0;
                    }
                    .first {
                        margin-right: 1rem;
                    }
                    .form-control {
                        background-color: $dark-grey;
                        border: none;
                    }
                }
                button {
                    @include get-in-touch;
                    @include upper-bold;
                    margin-top: 1rem;
                }
            }
        }
        .footer_right {
            width: 40%;
            display: flex;
            flex-direction: column;
            padding: 0 5rem;
            h5 {
                @include white-title;
            }
            p {
                @include footer-paragraph;
                margin: 1rem 0;
            }
            .footer_contacts {
                color: $blue-lagoon;
                display: flex;
                flex-direction: column;
                margin: 1rem 0;
                .contact {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    .contact_icon {
                        @include rounded;
                        background-color: $dark-green;
                        width: 45px;
                        height: 45px;
                        font-size: 20px;
                        margin-right: 1rem;
                    }
                }
            }
            button {
                @include read-more;
                @include upper-bold;
                width: 180px;
            }
        }
    }
}
.footer_bottom {
    background-color: $dark-bottom;
    color: $silver-sand;
    .footer_copy {
        @include center-section;
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        span {
            color: $blue-lagoon;
        }
        :before {
            content: "\00a9";
            margin-right: 0.1rem;
        }
    }
}
