.about {
    position: relative;
    display: flex;
    height: 100vh;
        .about_company {
            padding: 10rem 2rem 5rem 15rem;
            width: 50%;
            h2 {
                @include green-title;
            }
            h1 {
                @include section-title;
                .title_first {  
                    @include section-title-first
                }
                color: $nav-blue;
                margin: 2rem 0;
            }
            p {
                @include section-paragraph;
            }
            .counter {
                display: flex;
                justify-content: space-between;
                margin-top: 3rem;
                .counter_box {
                    
                    .counter_number {
                        color: $blue-lagoon;
                        font-size: 50px;
                        font-weight: bold;
                        padding-left: 2.5rem;
                    }
                    .counter_type {
                        @include ebony-title;
                        margin: 1rem 0;
                    }
                }
            }
            .buttons {
                display: flex;
                margin: 3rem 0 10rem;
                :first-child {
                    @include get-in-touch;
                    @include upper-bold;
                    margin-right: 1rem;
                }
                :nth-child(2) {
                    @include read-more;
                    @include upper-bold;
                    color: $blue-lagoon;
                }
            }
            
        }
 
    .image {
        width: 50%; 
        img {
            height: 100%;
            width: 100%;
        }
    }
    @include circles;    
}