
.jumbo {
    position: relative;
    width: 100%;

    .jumbo_bg {
        position: absolute;
       img {
           width: 100%;
       }
    }
    .nav_main {
        @include center-section;
        padding: 3rem 0;
        position: relative;
        .img {
            position: absolute;
        }
        .nav_main_left {
            position: relative;
            .nex {
                color: $fountain-blue;
                font-weight: bold;
                font-size: 25px;
            }
            .gen {
                margin-left: 5px;
                color: $silver-sand;
                font-weight: bold;
                font-size: 25px;
            }
            .nex_bg {
                position: absolute;
                background-color: $blue-lagoon;
                border-radius: 20px 0 0 20px;
                opacity: 0.3;
                width: 90px;
                height: 50px;
                left: -35px;
                top: -5px;
            }
            
        }
    }

}
