.main_cards {
    position: relative;
    display: flex;
    background-color: $gray-nurse;
    padding: 10rem 0;
    .cards_row {
        @include center-section;
        display: flex;
        justify-content: space-between;
        .card {
            width: 30%;
            padding: 3rem;
            border-radius: 10px;
            i {
                @include rounded;
                background-color: $light-blue;
                color: $blue-lagoon;
                width: 60px;
                height: 60px;
                font-size: 24px;
                padding: 1.2rem 1rem;
            }
            .card_title {
                @include ebony-title;
                margin: 1.5rem 0;
            }
            .card_p {
                @include section-paragraph;
            }            
        }
    }
    @include circles;
}