
.jumbo {
    position: relative;
    background-color: black;
    img{
        position: absolute;
        opacity: 0.5;
        width: 100%;
    }
    
    .jumbo_main {
        @include center-section;
        padding: 5rem 0 11rem;
        .jumbo_main_left {
            width: 50%;
            .jumbo_sub {
                @include upper-bold;
                color: $blue-lagoon;
            }
            .jumbo_title {
                position: relative;
                .productivity_bg {
                    position: absolute;
                    top: 146px;
                    left: 6px;
                    height: 45px;
                    width: 456px;
                    background-color: $blue-lagoon;
                    border-radius: 5px;
                }
                h1 {
                    position: relative;
                    font-size: 80px;
                    font-weight: bold;
                    color: $white;
                }
            }
            .jumbo_p {
                font-size: 22px;
                color: $silver-sand;
                margin: 2rem 0;
            }
            .buttons {
                display: flex;
                :first-child {
                    @include get-in-touch;
                    @include upper-bold;
                    margin-right: 1rem;
                }
                :nth-child(2) {
                    @include read-more;
                    @include upper-bold;
                }
            }
        }
        
    }

}
