.jumbo_nav {
    @include center-section;
    padding: 3rem 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    
    .nav_main_left {
        position: relative;
        display: flex;
        align-items: center;
        .nex_bg {
            background-color: $blue-lagoon;
            border-radius: 20px 0 0 20px;
            opacity: 0.3;
            width: 90px;
            height: 50px;
        }
        .nex {
            position: absolute;
            color: $fountain-blue;
            font-weight: bold;
            font-size: 25px;
            top: 7px;
            right: 60px
        }
        .gen {
            margin-left: 5px;
            color: $silver-sand;
            font-weight: bold;
            font-size: 25px;
        }
        
        
    }
    .nav_main_right {
        @include upper-bold;
        font-size: 22px;
        color: $silver-sand;
        @include links;
        i {
            margin: 0 2rem;
        }
        button {
            @include upper-bold;
            @include get-in-touch;
        }
    }
}