/* Common */
@mixin center-section {
    width: 80%;
    margin: auto;
}

/* Texts */
@mixin upper-bold {
    text-transform: uppercase;
    font-weight:600;
}
@mixin green-title {
    font-size: 16px;
    color: $fountain-blue;
    text-transform: uppercase;
    font-weight: bold;
}
@mixin section-title {
    font-size: 50px;
    font-weight: bold;
    margin: 3rem 0;
}
@mixin section-title-first {
    background-color: $light-blue;
    color: $blue-lagoon;
    padding: 0 0.8rem;
    border-radius: 5px;
}
@mixin section-paragraph {
    color: $silver-sand;
    font-size: 19px;
}

/* Buttons */
@mixin get-in-touch {
    background-color: $blue-lagoon;
    color: $gray-nurse;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}
@mixin read-more {
    background-color: transparent;
    color: $gray-nurse;
    border: 1px solid $blue-lagoon;
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}