$nav-blue: #21333e;//colore blu della nav preso col color picker
$silver-sand: #babdbe;
$smalt-blue: #5c828c;
$gray-nurse: #e4eae6;
$ebony-clay: #24343c;
$blue-lagoon: #038483;
$fountain-blue: #51bdbc;